@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav{
    background-color: black;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo svg
{
    fill: #1ce783;
}
.login-btn{
    padding:10px 15px ;
    background: none;
    color: #A8AFBD;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    transition: all ease-in-out 0.3s;
    border: none;
}.login-btn:hover{
    background-color: rgb(131, 135, 145 , 0.50);
    color: white;
}
.menu-btn{
    background-color: rgb(131, 135, 145 , 0.50);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    display: none;
    border: none;
}
.container{
    height: 90vh;
    background-color: rgb(0,0,0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px;
    text-align: center;
    background-image: url("./image/hulu.png");
    background-size: cover;
    background-position: center;
}
.deal-btn{
    height: 45px;
    width: 50%;
    background-color: #1ce783;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-transform: uppercase;
}.container svg{
    fill: #1ce783;
    transform: scale(200%);
}

.container h1{
    font-size: 44px;
    font-weight: 900;
    color: #1ce783;
    text-transform: uppercase;
}
.container h2{
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}

.container h3{
    color: #fff;
}

.container p{
    color: #fff;
    margin-bottom: 20px;
}

.description{
    font-size: 9.5px;
    width: 50%;
    text-align: center;
    color: #848995 !important;
}
.categories
{
    background-color: black;
    color: #fff;
    text-align: center;
}.categories-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}


.categories-box{
    background-color: #fff;
    height: 450px;
    width: 270px;
    margin: 5px;
    background-size: cover;
    padding: 10px;
    text-align: left;
    line-height: 10px;
}

.categories-box p{
    color: #fff !important;
}
.categories-box:first-child{
    background-image: url("./image/img1.jpg");
}
.categories-box:nth-child(2){
    background-image: url("./image/img2.jpg");
    
}.categories-box:nth-child(3){
    background-image: url("./image/img3.jpg");

}
.categories-box:last-child{
    background-image: url("./image/img4.jpg");
}
.categories p{
    color: #1ce783;
    margin-bottom: 20px;
}

.categories h1{
    margin-bottom: 20px;
    font-size: 40px;
}

.categories h3{
    margin-bottom: 20px;
    font-size: 18px;
}


@media(max-width : 768px){

    .login-btn{
        display: none;
    }

    .menu-btn{
        display: block;
    }

    .deal-btn{
        width: 80%;
    }

    .description{
        width: auto;
    }

}
.live{
    background-color: black;
   color: white;
    display: flex;
    align-items: center;
    height: 70vh;
    
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
   
    width: 100%;}
    .live-plus{
        color: #1ce783;
    }
    .live-container h2{
        font-size: 50px;
    padding-bottom: 20px;

    }.live-container h3{
        padding-bottom: 20px;
        font-size: 18px; 
    }
   /* Sports */
   .sports{
    width: 100%;
   background-image: url(./image/original-new.jpg);
    background-size: cover;
    height: 100vh;
    padding: 20px;
   }
   .sports .news{
    display: flex;
    width: 50%;
    align-items: center;
    text-transform: uppercase;
    color:gray;
    padding-top: 40px;
   }
   .news h6{
    font-size: 15px;
    font-weight: 800;
    width: 28%;
   }
   .news h6:hover{
    color: white;}
    .sports-section{
        width: 100%;
        padding: 7em;
    }
    
    .live-sports h1 {
        text-transform: capitalize;
        color: white;
        font-size: 40px;
        margin-top: 50px;
        font-weight: 700;
       padding-right:850px;
      
      
    }
    .live-sports {display: block;}
    .live-sports p {
        width: 50%;
        font-size: larger;
       
        color: #fff;
       
    }
.logo img {border: 2px solid white;border-radius:150px 150px;background: white;margin: 15px;width: 15%;}
.logo{
    width: 90%;
    display: block;
    padding-right: 630px;

}
.live-sports h6{
    font-size: 10px;
    margin-top: 5em;
    color: white;
    padding-right: 640px;
}
/* content */
.last{
    width: 100%;
    display: block;
    background-color: black;
    text-align: center;
     padding: 3.4em;
}
.last h1{
    font-size: 50px;
    color: white;
    text-transform: capitalize;
}
.last p{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.line{
    width: 70%;
    text-align: center;
    height: 1px;
    margin-left: 14em;
    background-color: white;
}
.plans{
    display:flex;
    margin-top: 2em;
    align-items: center;

}
.plan1{
    display: block;
    width: 20%;
    

}
.plan1 h5 {
    color: white;
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 18px;
    letter-spacing: 1px;
}

.plan1 h4 {
    color: #149958;
    font-family: sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 18px;
}
.plan2 img {
    width: 40%;
}

.plan2 {
    display: block;
    width: 20%;
}

.plan2 h5 {
    color: white;
    text-transform: capitalize;
    font-family: sans-serif;
    line-height: 0.5em;
}

.free_trial{
    display: block;
    width: 30%;
}
.free_trial h6{
    color: black;
    border: #1CE783;
    background-color: #1CE783;
    text-transform: uppercase;
    font-size: 10px;
    font-family: sans-serif;
    border-radius: 25px;
    letter-spacing: 1px;
    padding: 10px 20px 10px 20px ;
    display: inline;
}
.free_trial h3{
   color:gray;
   text-transform: uppercase;
   font-family: sans-serif;
font-size: 15px;
margin-top: 20px;
font-weight: 600;
}
.free_trial h2{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.free_trial button{
    color:black;
    background-color: white;
    padding: 8px 80px 8px 80px ;
    font-weight: 700;
    border-radius: 5px;
    font-family: sans-serif;
    text-transform: uppercase;
}
.free_trial_1{
    display: block;
    width: 30%;
    margin-top: 20px;
}

.free_trial_1 h3{
   color:gray;
   text-transform: uppercase;
   font-family: sans-serif;
font-size: 15px;
margin-top: 20px;
font-weight: 600;
}
.free_trial_1 h2{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
}


.section{
   /* display: block; */
   width: 100%;
   
   background-color: black;
   padding-top:20px;
   text-align: center;
}
 table,td,tr{
    border-bottom: 1px solid gray;
    padding: 20px;
    text-align: initial;
    color: white;
    font-weight: 600;
    margin-left: 16em;
    font-size: 15px;
flex-direction:row ;
  
  }
table,th{
    font-weight: 100;
    padding: 10px;
}
tr.last_section td {
    font-size: 10px;
    padding-top: 8px;
    font-weight: 100;
}
.footer{
    background-color: #E8EAED;
   width: 100%;

}
.footer_{
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
ul.footer_list,ul.footer_list1,ul.footer_list2,ul.footer_list3,ul.footer_list4,ul.footer_list5
{
    list-style: none;
}
ul.footer_list h1, ul.footer_list4 h1 ,ul.footer_list5 h1{
    font-size: 15px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
}
ul.footer_list li ,ul.footer_list1 li,ul.footer_list2 li,ul.footer_list3 li,ul.footer_list4 li,ul.footer_list5 li{

    text-transform: capitalize;
    color: gray;
}
.line1{
    width: 90%;
    height: 1px;
    background-color:gainsboro;
    margin: auto;
   
}

.logo_.gallery1 {padding: 2em 4em;}

.logo_.gallery1 img {
    margin: 10px;
}
section ul  {
list-style: none;
width: 100%;

}
section ul{
    display: flex;
justify-content: space-between;
margin: 5px;
}
section ul li{
    font-size: 12px;
    margin: 8px;
    text-transform: capitalize;
}






    