@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav{
    background-color: black;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo svg
{
    fill: #1ce783;
}
.login-btn{
    padding:10px 15px ;
    background: none;
    color: #A8AFBD;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    transition: all ease-in-out 0.3s;
    border: none;
}.login-btn:hover{
    background-color: rgb(131, 135, 145 , 0.50);
    color: white;
}
.menu-btn{
    background-color: rgb(131, 135, 145 , 0.50);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    display: none;
    border: none;
}
.container{
    height: 90vh;
    background-color: rgb(0,0,0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px;
    text-align: center;
    background-image: url("./image/hulu.png");
    background-size: cover;
    background-position: center;
}
.deal-btn{
    height: 45px;
    width: 50%;
    background-color: #1ce783;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-transform: uppercase;
}.container svg{
    fill: #1ce783;
    transform: scale(200%);
}

.container h1{
    font-size: 44px;
    font-weight: 900;
    color: #1ce783;
    text-transform: uppercase;
}
.container h2{
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}

.container h3{
    color: #fff;
}

.container p{
    color: #fff;
    margin-bottom: 20px;
}

.description{
    font-size: 9.5px;
    width: 50%;
    text-align: center;
    color: #848995 !important;
}
.categories
{
    background-color: black;
    color: #fff;
    text-align: center;
}.categories-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}


.categories-box{
    background-color: #fff;
    height: 450px;
    width: 270px;
    margin: 5px;
    background-size: cover;
    padding: 10px;
    text-align: left;
    line-height: 10px;
}

.categories-box p{
    color: #fff !important;
}
.categories-box:first-child{
    background-image: url("./image/img1.jpg");
}
.categories-box:nth-child(2){
    background-image: url("./image/img2.jpg");
    
}.categories-box:nth-child(3){
    background-image: url("./image/img3.jpg");

}
.categories-box:last-child{
    background-image: url("./image/img4.jpg");
}
.categories p{
    color: #1ce783;
    margin-bottom: 20px;
}

.categories h1{
    margin-bottom: 20px;
    font-size: 40px;
}

.categories h3{
    margin-bottom: 20px;
    font-size: 18px;
}


@media(max-width : 768px){

    .login-btn{
        display: none;
    }

    .menu-btn{
        display: block;
    }

    .deal-btn{
        width: 80%;
    }

    .description{
        width: auto;
    }

}
.live{
    background-color: black;
   color: white;
    display: flex;
    align-items: center;
    height: 70vh;
    
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
   
    width: 100%;}
    .live-plus{
        color: #1ce783;
    }
    .live-container h2{
        font-size: 50px;
    padding-bottom: 20px;

    }.live-container h3{
        padding-bottom: 20px;
        font-size: 18px; 
    }
   /* Sports */
   .sports{
    width: 100%;
   background-image: url(./image/original-new.jpg);
    background-size: cover;
    height: 100vh;
    padding: 20px;
   }
   .sports .news{
    display: flex;
    width: 50%;
    align-items: center;
    text-transform: uppercase;
    color:gray;
    padding-top: 40px;
   }
   .news h6{
    font-size: 15px;
    font-weight: 800;
    width: 28%;
   }
   .news h6:hover{
    color: white;}
    .sports-section{
        width: 100%;
        padding: 7em;
    }
    
    .live-sports h1 {
        text-transform: capitalize;
        color: white;
        font-size: 40px;
        margin-top: 50px;
        font-weight: 700;
       padding-right:850px;
      
      
    }
    .live-sports {display: block;}
    .live-sports p {
        width: 50%;
        font-size: larger;
       
        color: #fff;
       
    }
.logo img {border: 2px solid white;border-radius:150px 150px;background: white;margin: 15px;width: 15%;}
.logo{
    width: 90%;
    display: block;
    padding-right: 630px;

}
.live-sports h6{
    font-size: 10px;
    margin-top: 5em;
    color: white;
    padding-right: 640px;
}
/* content */
.last{
    width: 100%;
    display: block;
    background-color: black;
    text-align: center;
     padding: 3.4em;
}
.last h1{
    font-size: 50px;
    color: white;
    text-transform: capitalize;
}
.last p{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.line{
    width: 70%;
    text-align: center;
    height: 1px;
    margin-left: 14em;
    background-color: white;
}
.plans{
    display:flex;
    margin-top: 2em;
    align-items: center;

}
.plan1{
    display: block;
    width: 20%;
    

}
.plan1 h5 {
    color: white;
    font-family: sans-serif;
    text-transform: capitalize;
    font-size: 18px;
    letter-spacing: 1px;
}

.plan1 h4 {
    color: #149958;
    font-family: sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 18px;
}
.plan2 img {
    width: 40%;
}

.plan2 {
    display: block;
    width: 20%;
}

.plan2 h5 {
    color: white;
    text-transform: capitalize;
    font-family: sans-serif;
    line-height: 0.5em;
}

.free_trial{
    display: block;
    width: 30%;
}
.free_trial h6{
    color: black;
    border: #1CE783;
    background-color: #1CE783;
    text-transform: uppercase;
    font-size: 10px;
    font-family: sans-serif;
    border-radius: 25px;
    letter-spacing: 1px;
    padding: 10px 20px 10px 20px ;
    display: inline;
}
.free_trial h3{
   color:gray;
   text-transform: uppercase;
   font-family: sans-serif;
font-size: 15px;
margin-top: 20px;
font-weight: 600;
}
.free_trial h2{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.free_trial button{
    color:black;
    background-color: white;
    padding: 8px 80px 8px 80px ;
    font-weight: 700;
    border-radius: 5px;
    font-family: sans-serif;
    text-transform: uppercase;
}
.free_trial_1 button{
    color:black;
    background-color: white;
    padding: 8px 80px 8px 80px ;
    font-weight: 700;
    border-radius: 5px;
    font-family: sans-serif;
    text-transform: uppercase;
}
.free_trial_1{
    display: block;
    width: 30%;
    margin-top: 20px;
}

.free_trial_1 h3{
   color:gray;
   text-transform: uppercase;
   font-family: sans-serif;
font-size: 15px;
margin-top: 20px;
font-weight: 600;
}
.free_trial_1 h2{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.plans{
    border-bottom: 1px solid rgba(200, 200, 2000, 0.4);
    justify-content: space-between;
    display: flex;
    width: 100%;
    background: #000;
    padding-bottom: 20px;
    position: sticky;
    flex-wrap: wrap;
}
.Monthly{
    display: flex;
    border-bottom: 1px solid rgba(200, 200, 2000, 0.4);
    flex-wrap:wrap;
    justify-content: center;
}
.Monthly .price{
    width: 45%;
 
    text-align: start;
    display: flex;
}
.Monthly p{
    font-size: 14px;
}
.Monthly .price-1{
    width: 55%;
    display: flex;
}
.Monthly .check{
    width: 50%;
    padding: 18px;
    display: flex;

}
.Monthly .priceless-1{
    width: 35%;


}
.Monthly .shows{
    width: 45%;
    margin-right: 830px;
    display: block;
    padding: 18px 0;
}
.Monthly p{
    font-size: 14px;
    
}
.Monthly p:last-child{
    margin-right: 150px;
}
.Monthly h1{
    margin-top: 60px;
    font-size: 45px;
}
   
.Brows{
    display: flex;
    justify-content: space-between;
    
    flex-wrap: wrap;
    width: 100%;
   padding-left: 80px;
   padding-right: 80px;
    color: #2f2f2f;
    padding-top: 50px;
  

   
}
.last-section{
    width: 100%;
   background-color: #E8EAED;
  
}
.Brows ul{
    list-style: none;
   
}
.Brows ul li{
    padding: 8px;
}
.Brows ul li:first-child{
    color: black;
    font-size: 700;
    
}
.footer-icon{
    height: 10vh;
}
.last-line{
    border-bottom: 1px solid rgb(143, 140, 140);
    padding: 20px;
    width: 100%;
}
.icons{
    margin: 60px;
   padding-right: 990px ;
}
.icons i{
    color: rgb(76, 76,76);
    font-size: 25px;
    margin: 10px ;
   
}
.end-section{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 60px
}
.end-section li{
    margin: 20px;
    font-size: 13px;
    color: #2f2f2f;
}